[submodule "lib/SparkFun_ICM-20948_ArduinoLibrary"]
	path = lib/SparkFun_ICM-20948_ArduinoLibrary
	url = https://github.com/teknoman117/SparkFun_ICM-20948_ArduinoLibrary
[submodule "lib/ArduinoCore-API"]
	path = lib/ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API
[submodule "lib/ICM_20948-AHRS"]
	path = lib/ICM_20948-AHRS
	url = https://github.com/teknoman117/ICM_20948-AHRS
