[Unit]
Description=ICM-20948 IMU Daemon Sockets

[Socket]
ListenStream=/run/imu.sock
ListenStream=[::]:4000
SocketMode=0660
BindIPv6Only=no

[Install]
WantedBy=sockets.target