[Unit]
Description=IMU Daemon Sockets

[Socket]
ListenStream=[::]:4000
BindIPv6Only=no

ListenStream=/run/imud/imu.sock
SocketMode=0660
SocketUser=imud
SocketGroup=imud

[Install]
WantedBy=sockets.target